:root {
    --ac-color: #045389;
    --ac-color-h: 204.36090225563908;
    --ac-color-s: 94.32624113475175%;
    --ac-color-l: 27.647058823529413%;
    --ac-color-rgb: 4, 83, 137;
    --ac-acl: 20;
    --ac-acd: -40;
    --ac-basic: #fff;
    --ac-basic-h: 0;
    --ac-basic-s: 0%;
    --ac-basic-l: 100%
}